<h1>Modelo de datos: </h1>

<h2>Tablas a ocupar</h2>

<script src="https://gist.github.com/afromankenobi/d13ebd1a732a3a9c8343067ac798612f.js"></script>

<h2>Consultas</h2>

<script src="https://gist.github.com/afromankenobi/fc9cb39b0e9cb67fcfabf43a0b15012f.js"></script>
