<h1>Test developer</h1>

<h2>Parte 1: </h2>
<ul>
  <li><%= link_to 'Factoriales', welcome_factorial_path %></li>
  <li><%= link_to 'Numeros a palabras', welcome_number_to_words_path %></li>
</ul>


<h2>Parte 2:</h2>
<h3>D</h3>
