<h3>Entregar representación en palabras de algun número:</h3>
<h4>Código: </h4>
<script src="https://gist.github.com/afromankenobi/c12bc523fa98950c230400f0dc93694c.js"></script>
<h4>Algunos resultados: </h4>
<ul>
  <% @to_words_examples.each do |example| %>
    <li><%= example[:number]%> => <%= example[:to_words] %></li>
  <% end %>
</ul>
