<h1>Programación orientada a objetos</h1>
<h2>Modelado en Ruby para el modelo de Cursos </h2>
<%= link_to "Ver acá modelo de datos", 'https://gist.github.com/afromankenobi/d13ebd1a732a3a9c8343067ac798612f' %>

<p>
  Este proyecto en Rails es la programación + cierto funcionamiento de el modelo
  <br>
  <%= link_to 'Ir a la App', courses_path, data: { turbolinks: false } %>
</p>

<h2>Cartas: </h2>

<script src="https://gist.github.com/afromankenobi/935dd54be2c6b90bc2ecacb8f7b29397.js"></script>
